$primary-color: #FF5300;
$secondary-color: #F5F5F5;
$tertiary-color: #E5E5E5;
$graysacle-color: #C2C2C2;
$graysacle-color2: #ACACAC;
$graysacle-color3: #999999;
$black-color: #222222;
$black-color2: #555555;
$black-color3: #777777;
$color-white: #fff;
$shadow-color: #3E3E3E14;

$font-family: 'Josefin Sans', sans-serif;
