@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

@import '_variables';
@import '_mixins';

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

#intro{
    background: transparent linear-gradient(243deg, #FBFBFB 0%, #FCFCFC 21%, #FCFCFC 33%, #F6F7F9 45%, #F6F6F6 56%, #F6F7F8 70%, #F6F6F7 100%) 0% 0% no-repeat padding-box;

    header{
        padding: 45px 15px;
        @include flex-box();

        .logo{
            @include font-bold(36px);
            color: $black-color;
        }

        nav{
            ul{
                li{
                    display: inline-block;
                    a{
                        color: $black-color;
                        @include font-regular(15px);
                        text-decoration: none;
                        display: inline-block;
                        padding-bottom: 10px;
                        margin: 0 17px;

                        &.active{
                            color: $primary-color;
                            border-bottom: 1px solid $primary-color;
                        }

                        &:hover{
                            color: $primary-color;
                            border-bottom: 1px solid $primary-color;
                        }
                    }
                }
            }
        }
        .button-container{
            button {
                @extend %button-seconday;
                font-weight: 600;
                @include flex-box();

                svg{
                    margin-right: 5px;
                    width: 15px;
                    fill: $primary-color;
                }

                &:hover{
                    background-color: $primary-color;
                    color: $color-white;
                    cursor: pointer;

                    svg{
                        fill: $color-white;
                    }
                }
            }
        }
    }

    .intro-content{
        @include flex-box(start);
        margin-right: -125px;

        .content{
            margin-top: 140px;
            padding-right: 150px;

            span{
                color: $primary-color;
                @include font-regular(14px);
                margin-bottom: 20px;
                display: inline-block;
                position: relative;
                padding-left: 30px;

                &:before{
                    content: '';
                    position: absolute;
                    background-color: $primary-color;
                    width: 25px;
                    height: 1px;
                    left: 0;
                    top: 37%;
                }
            }

            h1{
                @include font-semi-bold(52px);
                color: $black-color;
                margin-bottom: 25px;
            }

            p{
                color: $black-color2;
                @include font-regular();
            }
       }

       .img{
           img{
               width: 550px;
           }
       }
    }
}